@page
@model RazorPagesApp.Pages.DetailsModel

@{
    ViewData["Title"] = "Деталі";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Деталі по студенту</h1>

<div>
    <h4>Студент</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.GPA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.GPA)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student?.Id">Редагувати</a> |
    <a asp-page="./Index">Повернутися до списку</a>
</div>